.score-value {
    font-size: 20vw;
    color: #acb25a;
}

.text-score {
    color: #acb25a;
    top: 10vh;
    right: 0;
}

@media (max-width:1199px) {
    .score-value {
        font-size: 50vw;
    }
}