.progess-group {
    width: 100%;
    background-color: var(--bs-gold-blur);
    position: relative;
}

.progess-line {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--bs-gold);
}

.progess-group,
.progess-line {
    height: 35px
}


@media (max-width:1199px) {

    .progess-group,
    .progess-line {
        height: 24px;
    }
}