.progess-group {
    width: 100%;
    height: 28px;
    background-color: var(--bs-gold-blur);
    position: relative;
}

.progess-line {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--bs-gold);
    height: 28px;
}